body {
  margin: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #111;
  overflow: hidden;
}

.loading {
  color: white;
  font-size: 32px;
  display: table;
  position: fixed;
  width: 100%;
  height: 100%;
}

.loading-wrapper {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.slide {
  position: absolute;
}

.slide.next {
  display: none;
}